<!DOCTYPE html>
<html>
<head>
  <title>YungouOfficiallSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'sticky-footer', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navigation' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
